/* font-family: 'PT Serif', serif;
font-family: 'Roboto Condensed', sans-serif; */

body {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  text-align: center;
}
.logo-header {
  padding: 88px 0 60px;
}
.logo__image {
  max-width: 392px;
}
.menu {
  border-top: 2px solid #c4c4c4;
}
.menu__list {
  display: flex;
  justify-content: center;
}
.menu__list-item {
  width: 300px;

  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}

.menu__list-item:first-child {
  border-left: 2px solid #c4c4c4;
}

.menu__list-item:last-child {
  border-right: 2px solid #c4c4c4;
}

.menu__list-link {
  display: block;
  padding: 34px 10px 38px;

  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #888888;
  transition: all 0.5s;
}

.menu__list-link--active,
.menu__list-link:hover {
  color: #ffffff;
  background: #020202;
}

.slider__item {
  min-height: 600px;
  background-image: url(../images/slider-image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.slick-next,
.slick-prev {
  position: absolute;
  top: 50%;
  z-index: 5;

  width: 70px;
  height: 70px;

  border: none;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  outline: none;

  transform: translateY(-50%);
}

.slick-next {
  right: 20px;
  background-image: url(../images/aroow-next.svg);
}

.slick-prev {
  background-image: url(../images/arrow-prev.svg);
  left: 20px;
}

.search__inner {
  padding: 60px 0 70px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__form-label {
  width: 156px;
  margin-right: 69px;

  font-size: 24px;
  line-height: 24px;

  color: #888888;
}

.search__form-input {
  width: 431px;
  height: 70px;
  padding: 0 15px;

  font-size: 18px;
  line-height: 24px;

  border: 2px solid #c4c4c4;
}

.search__form-input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.search__form-button {
  position: relative;
  padding: 21px 23px 21px 36px;

  font-size: 24px;
  line-height: 24px;
  color: #ffffff;

  background: #c4c4c4;
  border: 2px solid #c4c4c4;
}

.search__form-button::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 9px;
  width: 18px;
  height: 18px;

  background-image: url(../images/search-icon.svg);
}

.options__title {
  min-height: 100px;
  margin-bottom: 100px;
  padding: 18px 0;

  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;

  color: #ffffff;
  text-align: center;
  background-color: #000000;
}

.options__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.options__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options__item-image {
  width: 280px;
  height: 280px;
  margin-bottom: 30px;

  object-fit: cover;
  border-radius: 50%;
}
.options__item-description {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;

  text-align: center;

  color: #888888;
}
.options__items-button {
  display: block;
  max-width: 150px;
  width: 100%;
  min-height: 50px;
  padding: 13px 0;
  text-align: center;

  color: #ffffff;

  text-decoration: none;

  background: #c4c4c4;
  border: 2px solid #c4c4c4;
}

.feature__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.feature__item {
  max-width: 470px;
}
.feature__title {
  position: relative;
  margin-bottom: 20px;
  padding-left: 136px;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  color: #000000;
}
.feture__text {
  margin-bottom: 45px;
}

.feature__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 103px;
}

.feature__title-clock::before {
  background-image: url(../images/clock-face-icon.png);
}
.feature__title-globe::before {
  background-image: url(../images/globe-icon.png);
}

.feature__link {
  position: relative;
  padding-left: 36px;
  color: #888888;
}

.feature__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/arrow-black.svg);
  transform: translateY(-50%);
}

.best {
  height: 100vh;
  padding-top: 68px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
}

.best__title {
  max-width: 457px;
  margin-bottom: 15px;
  margin-left: auto;

  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;

  color: #ffffff;
}

.best__link {
  display: inline-block;
  padding: 16px 18px;

  line-height: 18px;
  color: #ffffff;
  background-color: #000;
  text-decoration: none;
}

.about {
  padding: 100px 0;

  color: #fff;

  background-color: #000;
}

.about__inners {
  display: flex;
  justify-content: space-between;
}
.about__item {
  margin: 0 auto;
}
.about__managers {
  width: 297px;
}

.blog__title {
  margin-bottom: 47px;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.managers__title {
  margin-bottom: 27px;
}
.managers__inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.managers__item {
  line-height: 21px;
}
.managers__image {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 22px;
  border-radius: 50%;
}
.managers__location {
  margin-bottom: 43px;
}
.managers__link {
  padding: 16px 21px;

  line-height: 18px;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
}
.about__blog {
  width: 431px;
  padding: 0 10px;
}
.list__link {
  position: relative;
  display: inline-block;
  margin-bottom: 28px;
  padding-left: 67px;
  text-decoration: none;
  line-height: 18px;
  color: #ffffff;
}
.list__link::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/arrow-white.png);
}
.about__reviews {
  width: 300px;
}
.reviews__image {
  width: 300px;
  height: 127px;
  margin-bottom: 22px;
  object-fit: cover;
}
.reviews__text {
  margin-bottom: 22px;
  line-height: 21px;
}
.reviews__link {
  display: inline-block;
  padding: 16px 28px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
}

.footer__top {
  color: #fff;
  background-color: #000;
}
.footer__top-inner {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.footer__menu-list {
  width: 250px;
  margin-right: 50px;
}
.footer__menu-link {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
  text-decoration: none;
}
.footer__form {
  display: flex;
  align-items: center;
}
.footer__label {
  width: 82px;
  margin-right: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #888888;
}
.footer__input {
  width: 511px;
  height: 70px;
  padding: 0 15px;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #888888;

  background: #ffffff;
  border: 2px solid #c4c4c4;
}

.footer__input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #888888;
}

.footer__button {
  padding: 24px 35px;

  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  color: #ffffff;

  background: #c4c4c4;
  border: 2px solid #c4c4c4;
}
.logo-footer {
  padding: 3px 0 23px;
  text-align: center;
}

@media (max-width: 1220px) {
  .options__item {
    width: 50%;
    margin-bottom: 30px;
  }
  .options__item-image {
    width: 400px;
    height: 400px;
  }
  .about__inners {
    flex-wrap: wrap;
  }
  .about__item {
    margin: 0 auto 50px;
  }
}

@media (max-width: 1100px) {
  .footer__top-inner {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .footer__menu-list {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1000px) {
  .options__inner {
    margin-bottom: 60px;
  }
  .feature__inner {
    flex-wrap: wrap;
    padding: 60px 0;
  }
  .feature__item {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .feature__title {
    padding-left: 60px;
  }
  .feature__title::before {
    width: 50px;
    height: 50px;
    top: 50%;
    background-size: cover;
    transform: translateY(-50%);
  }
}

@media (max-width: 900px) {
  .search__form {
    flex-wrap: wrap;
  }
  .search__form-label {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
    text-align: center;
  }
  .options__item {
    width: 100%;
  }
  .footer__form {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer__label {
    text-align: center;
  }
  .footer__label,
  .footer__input {
    margin-bottom: 10px;
  }
  .footer__input::placeholder {
    text-align: center;
  }
}

@media (max-width: 760px) {
  .logo-header {
    padding: 44px 0 30px;
  }
  .logo__image {
    max-width: 250px;
  }
  .menu__list-link {
    padding: 20px 10px 24px;
  }
  .slider__item {
    min-height: 400px;
  }
  .options__title {
    padding: 12px 0;
    font-size: 38px;
    line-height: 54px;
  }
  .best {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__list-item {
    width: 100%;
    border: none;
    border-bottom: 2px solid #c4c4c4;
  }

  .menu__list-item:first-child {
    border-left: none;
  }

  .menu__list-item:last-child {
    border-right: none;
  }

  .search__form {
    padding: 0 10px;
  }

  .search__form-input {
    width: 50%;
  }
  .options__title {
    min-height: 70px;
    font-size: 30px;
    line-height: 42px;
  }
  .feature__title {
    font-size: 28px;
    line-height: 32px;
  }
  .options__inner {
    margin-bottom: 40px;
  }
  .feature__inner {
    padding: 40px 0;
  }
  .best__title {
    max-width: 343px;
    font-size: 36px;
    line-height: 40px;
  }
  .footer__input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .search__form-input {
    height: 50px;
  }

  .search__form-input {
    width: 100%;
  }
  .search__form-button {
    width: 100%;
    padding: 10px 13px 10px 26px;
  }
  .slick-next {
    display: none;
  }
  .slick-prev {
    display: none;
  }
  .search__form-button::before {
    display: none;
  }

  .options__item-image {
    width: 280px;
    height: 280px;
  }

  .feature__title {
    font-size: 24px;
    line-height: 28px;
  }
  .best {
    height: 400px;
    padding-top: 40px;
  }

  .best__title {
    max-width: 263px;
    font-size: 28px;
    line-height: 33px;
  }
  .blog__title {
    font-size: 36px;
    line-height: 40px;
  }
  .about__managers {
    width: 100%;
  }
  .managers__inner {
    justify-content: space-around;
  }
  .about__blog {
    width: 100%;
  }

  .list__link {
    padding-left: 40px;
  }
  .list__link::before {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(../images/arrow-white.png);
  }
}
